.container {
  padding: 30px;
}

label {
  margin-right: 15px;
}

input {
  margin-right: 10px;
}

ul {
  margin-top: 30px;
  padding-left: 0px;
  list-style-type: none;
}

li {
  width: 485px;
  margin-bottom: 5px; 
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0px;
}

li > p:first-child {
  width: 35px;
}

.delete {
  width: 35px;
  text-align: right;
  text-decoration: none;
}